*{
    margin: 0;
    padding: 0;
    
}
 nav{
    display: flex;
    justify-content: space-around;
        align-items: center;
       /* background-color: rgb(51, 9, 84);*/
       background-image:linear-gradient(to right, rgb(148, 21, 152),rgb(20, 19, 20)) ;
        color: white;
        padding: 10px 0;
 }
 .logo{
    font-size: 20px;
     font-weight: bold;
 }
    nav ul{
        display: flex;
    
        gap: 17px;
        
    }
    nav ul li{
        list-style: none;
        font: size 17px;
    }
    .hero{background-color: rgb(219, 233, 235);
        height: 65vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .hero-left{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .hero-left .one{
        font-size: 30px;
        font-weight: bold;
    }
    .hero-left .two{
        font-size: 24px;
        font-weight: normal;
    }
    .bold{
        font-weight: bold;
        
    }
