*{
    margin: 0;
    padding: 0;
    
}
 nav{
    display: flex;
    justify-content: space-around;
        align-items: center;
       /* background-color: rgb(51, 9, 84);*/
       background-image:linear-gradient(to right, rgb(148, 21, 152),rgb(20, 19, 20)) ;
        color: white;
        padding: 18px 0;
 }
 .logo{
    font-size: 22px;
     font-weight: bold;
 }
    nav ul{
        display: flex;
    
        gap: 17px;
        
    }
    nav ul li{
        list-style: none;
        font: size 18px;
    }
