*{
    margin: 0;
    padding: 0;
    
}
 nav{
    display: flex;
    justify-content: space-around;
        align-items: center;
       /* background-color: rgb(51, 9, 84);*/
       background-image:linear-gradient(to right, rgb(148, 21, 152),rgb(20, 19, 20)) ;
        color: white;
        padding: 10px 0;
 }
 .logo{
    font-size: 20px;
     font-weight: bold;
 }
    nav ul{
        display: flex;
    
        gap: 17px;
        
    }
    nav ul li{
        list-style: none;
        font: size 17px;
    }
    .hero{
        background-image: linear-gradient(to right, rgb(125, 241, 212), lightblue);
        height: 65vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .hero-left{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .hero-left .one{
        font-size: 30px;
        font-weight: bold;
    }
    .hero-left .two{
        font-size: 24px;
        font-weight: normal;
    }
    .bold{
        font-weight: bold;
        
    }
.button-container{
    padding : 9px 0;
}

    .btn{
        padding: 4px 6px;
        margin: 7px 9px;
        background-color: purple;
        color: white;
        border: 2px solid purple;
        border-radius: 4px;
        cursor: pointer;
        font-size: 18px;
        font-weight: bolder;
    }
    .hero-right img{
        border-radius: 14px;
    }
       .project-image img{
        display: flex;
        align-items: center;
            border-radius: 14px;
        
    .project{
        display: flex;
        align-items: center;
        padding: 20px 0;
         gap: 20px;
    }    

    }
      .project-image img{
       width: 50vw;
         
    }
    .project-info{
        display: flex;
        flex-direction: column;
         background-image: linear-gradient(to right, rgb(170, 241, 219),black );
        padding: 12px; 
            border-radius: 14px;
            color: rgb(28, 27, 27);

    }
      .project-info .text{
        font-size: 20px;
        padding: 10px 0;
        font-weight: bold;
      }
      .project-info p{
        padding: 12px 0;
      }

      .row-reverse{
        flex-direction: row-reverse;
      }
        
